body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    background-color: #aa447755;
    border-radius: 10px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}