body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 50px;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    background-color: #aa447755;
    border-radius: 10px;
}

.error {
    text-align: center;
    font-size: 50px;
    padding: 10px 20px 0;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

input:invalid {
    background-color: red;
}
input:valid {
    background-color: transparent;
}